html {
font-family: sans-serif;
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
background-color:#fcfcfc}

.Header {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
margin: 0 auto;
margin-bottom: 3rem;
padding: 0 1.5rem;
max-width: 1200px;}

#NavHead {
list-style: none;
display: flex;
flex-wrap: nowrap;
align-items: center;}

.NavLi {
margin-right: 2.5rem;}

.NavLi > a {
text-decoration: none;
color: #00ad6a;
font-weight: 700;}

.NavLi > a:hover  {
    color: #062c27;
}

#NavPricing {
color:#062c27;}

#Navbutton {
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;    
color: #04AA6D;
border: 2px solid #04AA6D;
padding: 0.5rem 1rem;}

#Navbutton:hover {
color:#062c27;
box-shadow:-5px 5px #04AA6D;
-webkit-transform:translate3d(5px,-5px,0);
transform:translate3d(5px,-5px,0);
cursor: pointer;}

.ContentHeader {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
max-width: 600;}

.HeaderH1 {
font-size: 3.75rem;
line-height: 1;
margin-bottom: -0.75rem;
margin-top: -0;
letter-spacing: -2px;}

.HeaderP1 {
font-size: 1.125rem;
color: #080c16;
font-weight: 300;}

body{
    font-family: 'Work Sans', sans-serif;
    background: #edf9f2;
}

.Maincontent{
    display: flex;
    padding: 2rem;
    gap: 1rem; /* remove later */
}

.h2{

    color: #4daa70;
    font-size: 20px;
    font-weight:900 ;
    margin-bottom: 1rem;
}

ul{
    margin-left: 1em;
    color: black;
}
.container1{
    align-items: center;
    line-height: 1.5;
}

.pcontainer1{
    margin-top: 2rem;
}

.container2{

    border: 1px solid #4daa70;
    border-radius: 5px 5px 0 0 ;
    background-color: #fff;
    
}

.recomended{
    padding: .4rem;
    background: #4daa70;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.SmallBusinessPlan{

    color: #00ad6a;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.perMonth{
    color: #808080;
    text-align: center;
    font-size: larger;
}

.signUp{
    width: 30%;
    background: #00ad6a;
}


.container3{

}

.Picture{
    display: flex;
    justify-content: center;
    flex-flow: wrap; /* break point very larg? */
    align-content: center;
    font-family: 'Work Sans', sans-serif;

}

.image{
    display: block;
    image
}

.Quote{
    text-align: center;
    font-size: 24px;
    color: #080c16;
    padding: 16px;

}


.uppgreen{

    font-size: 12px;
    color:#00ad6a;
    font-weight: 800;
    display: block;
}
.FAQ-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 2em;
}

#first-row{
    display: flex;
    justify-content: center;
    padding: 20px;
}

#second-row{
    display: flex;
    justify-content: center;
    padding: 20px;

}
#third-row {
    display: flex;
    justify-content: center;
    padding: 20px;
}


