html {
font-family: sans-serif;
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
background-color:#fcfcfc}

.Header {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
margin: 0 auto;
margin-bottom: 3rem;
padding: 0 1.5rem;
max-width: 1200px;}

#NavHead {
list-style: none;
display: flex;
flex-wrap: nowrap;
align-items: center;}

.NavLi {
margin-right: 2.5rem;}

.NavLi > a {
text-decoration: none;
color: #00ad6a;
font-weight: 700;}

.NavLi > a:hover  {
    color: #062c27;
}

#NavPricing {
color:#062c27;}

#Navbutton {
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;    
color: #04AA6D;
border: 2px solid #04AA6D;
padding: 0.5rem 1rem;}

#Navbutton:hover {
color:#062c27;
box-shadow:-5px 5px #04AA6D;
-webkit-transform:translate3d(5px,-5px,0);
transform:translate3d(5px,-5px,0);
cursor: pointer;}

.ContentHeader {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
max-width: 600;}

.HeaderH1 {
font-size: 3.75rem;
line-height: 1;
margin-bottom: -0.75rem;
margin-top: -0;
letter-spacing: -2px;}

.HeaderP1 {
font-size: 1.125rem;
color: #080c16;
font-weight: 300;}