*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Work Sans', sans-serif;
    background: #edf9f2;
}

main{
    
}


.Maincontent{
    display: flex;
    padding: 2rem;
    gap: 1rem; /* remove later */
}

.h2{

    color: #4daa70;
    font-size: 20px;
    font-weight:900 ;
    margin-bottom: 1rem;
}

ul{
    margin-left: 1em;
    color: black;
}
.container1{
    align-items: center;
    line-height: 1.5;
}

.pcontainer1{
    margin-top: 2rem;
}


.container2{

    border: 1px solid #4daa70;
    border-radius: 5px 5px 0 0 ;
    background-color: #fff;
    
}


.recomended{
    padding: .4rem;
    background: #4daa70;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.SmallBusinessPlan{

    color: #00ad6a;
    font-size: 48px;
    font-weight: 900;
    text-align: center;


}

.perMonth{
    color: #808080;
    text-align: center;
    font-size: larger;
}

.signUp{
    width: 30%;
    background: #00ad6a;
}


.container3{


}




.Picture{
    display: flex;
    justify-content: center;
    flex-flow: wrap; /* break point very larg? */
    align-content: center;
    font-family: 'Work Sans', sans-serif;

}

.image{
    display: block;
    image
}

.Quote{
    text-align: center;
    font-size: 24px;
    color: #080c16;
    padding: 16px;

}


.uppgreen{

    font-size: 12px;
    color:#00ad6a;
    font-weight: 800;
    display: block;


}


